<%- include('../partials/header') %>

    <section class=“show-page”>
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>FlightNo: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs: </div>
        <div><%= flight.departs %></div>
    </section>

    <%- include('../partials/footer') %>