<%- include('../partials/header') %>

    <section class=“show-page”>
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>FlightNo: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs: </div>
        <div><%= flight.departs %></div>
    </section>

    <br><br><h2>Add Destination</h2>
    <form id="add-destination-form" method="POST"
      action="/flights/<%= flight._id %>/destinations">
      <label>Airport:</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN" selected>SAN</option>
      </select>
        <label>Arrival Date, Time:</label>
       <input type="datetime-local" name="arrival">
        <input type="submit" value="Add Destination">
    </form>
    <button>  
      <a href="/flights/<%= flight._id %>/tickets/new"><%- title === 'Add Ticket' ? 'class="active"' : '' %>Add Ticket</a>
    </button>
    <% if (flight.destinations.length) { %>
      <table>
        <thead>
          <tr>
            <th>Airport</th>
            <th>Arrival</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(f) { %>
            <tr>
              <td><%= f.airport %></td>
              <td><%= f.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Destinations Added</h5>
    <% } %>

<%- include('../partials/footer') %>